
#myMapID {
    height: 100%;
    width: 100%;
    z-index: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    background: rgb(189, 199, 201);
    width: 50%;
    height: 30%;
    top: 30%;
    left: 25%;
    max-width: 1000px;
    border-radius: 100px;
    padding: 20px;
    border: 10px solid black;
    overflow: auto;
    font-weight: 700;
}

.end-game-modal {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 5px solid red;
}

.close-end-game {
    align-self: flex-end;
}
.close-box {
    cursor: pointer;
}


.finish-game {
    display: flex;
    justify-content: flex-end;
    border-radius: 100px;
    width: 90%;
}

.icon:hover {
    animation: bounce 1s infinite; 
    -webkit-animation: bounce 1s infinite; 
    -moz-animation: bounce 1s infinite;
    cursor: pointer;
 }

.game-title {
    display: flex;
    height: 20px;
    padding: 0;
    margin: 0;
}


.location-found {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 199, 201);
    border: 5px solid black;
    border-radius: 20px;
    color: black;
    width: 20%;
    height: 10%;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 1000;
    font-size: 1.2rem;
    font-weight: 700;
}

.vertical-slider {
    display: flex;
    flex-direction: row;
    width: 30%;
    max-width: 500px;
    background-color: transparent;
    position: absolute;
    bottom: 50%;
    right: -8%;
    z-index: 2;
    transform: rotate(270deg);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 100px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, blue, white, red);
    height: 30px;
    border-radius: 20px;
}

input[type="range"]::-moz-range-track {
    background: linear-gradient(to right, blue, white, red);
    height: 30px;
    border-radius: 20px;
    }

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    background: white;
    border: 5px solid black;
    margin-top: -5px;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    height: 40x;
    width: 40px;
    background: white;
    border: 5px solid black;
    margin-top: -5px;
    border-radius: 50%;
}





@-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-5px);
    }
}
@-moz-keyframes bounce {
    0%, 
    100% {
       -moz-transform: translateY(0);
    }
    50% {
       -moz-transform: translateY(-5px);
    }
}
@-o-keyframes bounce {
    0%,
    100% {
       -o-transform: translateY(0);
    }
    50% {
       -o-transform: translateY(-5px);
    }
}
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}